header,
button {
  background-color: rgb(84, 43, 128);
  color: white;
}

img,
input,
textarea {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-full {
  width: 100%;
}

.input {
  margin-bottom: 50px;
}

button {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  width: 70px;
  text-transform: uppercase;
}

.new-entry-button {
  background-color: rgb(84, 43, 128);
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
}

#delete-button {
  color: red;
  text-decoration: underline;
  background-color: white;
  cursor: pointer;
}

#entries-link {
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
}

.entries-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-entry-button:hover {
  background-color: red;
}

ul > li.row > .column-half > content {
  margin: 0 auto;
  text-align: center;
}

.entry-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.entry-title i {
  font-size: 1rem;
  color: #000;
  cursor: pointer;
  transition: color 0.3s ease;
}

.entry-title i:hover {
  color: #007bff;
}
